In [1]:
#Required imports
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("smaller_adult.csv")
df.head()

,age,workclass,educational-num,occupation,gender,hours-per-week,income
0,25,Private,7,Machine-op-inspct,Male,40,<=50K
1,38,Private,9,Farming-fishing,Male,50,<=50K
2,28,Local-gov,12,Protective-serv,Male,40,>50K
3,44,Private,10,Machine-op-inspct,Male,40,>50K
4,18,?,10,?,Female,30,<=50K

In [3]:
df.isin(['?']).sum()

age                  0
workclass          214
educational-num      0
occupation         214
gender               0
hours-per-week       0
income               0
dtype: int64

In [4]:
df['workclass'] = df['workclass'].replace('?', np.nan)
df['occupation'] = df['occupation'].replace('?', np.nan)

In [5]:
df.isin(['?']).sum()

age                0
workclass          0
educational-num    0
occupation         0
gender             0
hours-per-week     0
income             0
dtype: int64

In [6]:
df.isnull().sum()

age                  0
workclass          214
educational-num      0
occupation         214
gender               0
hours-per-week       0
income               0
dtype: int64

In [7]:
df.dropna(how='any', inplace=True)

In [8]:
df = df.drop_duplicates()
df.shape

(3122, 7)

In [9]:
#Extract X and y from the dataframe , income column is the target column, rest columns are features
X = df.loc[:,['age', 'workclass', 'educational-num', 'occupation', 'gender', 'hours-per-week']]
y = df.loc[:,'income']

In [10]:
from sklearn.preprocessing import LabelEncoder
y = LabelEncoder().fit_transform(y)
y = pd.DataFrame(y)
y.head()

   0
0  0
1  0
2  1
3  1
4  0

In [11]:
numeric_features = X.select_dtypes('number')
categorical_features = X.select_dtypes('object')
categorical_features

             workclass         occupation  gender
0              Private  Machine-op-inspct    Male
1              Private    Farming-fishing    Male
2            Local-gov    Protective-serv    Male
3              Private  Machine-op-inspct    Male
5              Private      Other-service    Male
...                ...                ...     ...
3568           Private  Machine-op-inspct    Male
3570           Private     Prof-specialty    Male
3571           Private       Craft-repair    Male
3572           Private    Exec-managerial  Female
3573  Self-emp-not-inc              Sales  Female

[3122 rows x 3 columns]

In [12]:
converted_categorical_features = pd.get_dummies(categorical_features)
converted_categorical_features.shape

(3122, 23)

In [13]:
all_features = [converted_categorical_features, numeric_features]
newX = pd.concat(all_features,axis=1, join='inner')
newX.shape

(3122, 26)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(newX, y, test_size=0.33, random_state=42)

In [15]:
from sklearn.svm import SVC
clf = SVC(kernel="linear", gamma = 'auto')
clf.fit(X_train, y_train.values.ravel())

SVC(gamma='auto', kernel='linear')

In [16]:
y_pred = clf.predict(X_test)

In [17]:
predictions_df = pd.DataFrame()
predictions_df['precdicted_salary_class'] = y_pred
predictions_df['actual_salary_class'] = y_test[0].values
predictions_df

      precdicted_salary_class  actual_salary_class
0                           0                    0
1                           0                    1
2                           0                    0
3                           0                    0
4                           0                    0
...                       ...                  ...
1026                        1                    1
1027                        0                    0
1028                        0                    0
1029                        0                    0
1030                        0                    0

[1031 rows x 2 columns]

In [18]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))

0.7672162948593598